<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body>
    <div>
        <h1>Productos</h1> 
        <div>
          <p>El producto <%= name %> ha sido agregado exitosamente con el id <%= id %> </p>
        </div>
        
         
    </div>
  </body>
  <footer>
    <a href="/">Volver al formulario</a>
    <a href="/api/productos"> Ver lista completa</a>
</footer>
</html>