html 
    head 
        title Desafio 5

    body 
        include ./nav.pug
        div.container
            p El producto #{name} se ha añadido con éxito con el id #{id}

    a(href='/') Volver al formulario
    a(href='/api/productos') Ver todos los productos

    