html 
    
    head 
        title pug-express
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body 
        include ./nav.pug
        div.container
            h1 Hola Mundo soy #{name}    