html 
    head 
        title Desafio 5

    body 
        div.container
            nav.bg-success 
                h1 Productos
                div.container-fluid
                    a.navbar-brand