<h1>Productos</h1> 
  <div>
    <table border="1">
    <tbody>
    <tr>
      <td>Id</td>
      <th>Producto</th>
      <th>Precio</th>
      <th>Thumbnail</th>
    </tr>
    {{#each dta}}
    <tr>
      <th>{{id}}</th>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td><img src="{{thumbnail}}" width="80" height="80"></td>
    </tr>
     {{/each}}
    </tbody>
    </table>
  </div>
   
