<h1>
    ¡Registro con éxito!
</h1>
<div id= margen>
    <p>Objeto Guardado con el id {{{id}}} y concepto {{{name}}}</p>


</div>
<div>
   <a href="/api/productos"> Ver lista completa</a>
   <a href="/">
       Volver al formulario
   </a>
</div>